@import '$lib/assets/fonts/Magilio.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--font-sans: 'Atkinson Hyperlegible';
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;
		--primary: 215 25% 25%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply min-w-[320px] max-w-[100vw] bg-slate-50 pt-4 text-foreground text-slate-700;
	}
	.label {
		@apply pointer-events-none font-display leading-6 text-slate-600;
	}
}

.filter-heading {
	@apply grid w-64 grid-cols-8 gap-2;

	.filter-icon {
		@apply col-span-1 flex flex-row items-center justify-center;
	}

	.filter-label {
		@apply col-span-5 flex flex-row items-center justify-start text-sm text-slate-500 underline-offset-4 hover:underline;
	}

	.filter-status {
		@apply col-span-1 flex flex-row items-center justify-center text-slate-400;
	}
}

.filter-box {
	@apply my-2 flex w-full flex-col items-center justify-start space-y-2 px-1;

	.filter-item {
		@apply flex w-full flex-row items-start justify-start space-x-2;

		.filter-label {
			@apply mt-0.5;
		}
	}
}

.maplibregl-marker > svg g {
	@apply fill-slate-500;
}

h1,
h2,
h3,
h4,
h5 {
	@apply font-display !font-normal;
}

#captcha {
	@apply font-sans text-sm text-slate-600;

	> div > div {
		@apply !max-w-full;
	}

	[data-cy='button-human'] {
		@apply !max-w-full;
	}

	input {
		@apply accent-slate-500;
	}
}

.question {
	@apply text-base text-slate-600;

	&.error {
		@apply text-red-500;
	}
}
